In [7]:
# PyCity Schools - District-Wide Standardized Test Results Analysis
import pandas as pd

In [9]:
# PyCitySchools Analysis - Missing Components
# Load data
school_data = pd.read_csv("schools_complete.csv")  # Adjust the filename
student_data = pd.read_csv("students_complete.csv")  # Adjust the filename

In [11]:
total_schools = school_data['school_name'].nunique()

In [13]:
total_students = student_data['student_name'].count()
total_budget = school_data['budget'].sum()
avg_math_score = student_data['math_score'].mean()
avg_reading_score = student_data['reading_score'].mean()

In [15]:
passing_math = student_data[student_data['math_score'] >= 70].count()['student_name']
percent_passing_math = (passing_math / total_students) * 100
passing_reading = student_data[student_data['reading_score'] >= 70].count()['student_name']
percent_passing_reading = (passing_reading / total_students) * 100
passing_overall = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)].count()['student_name']
percent_overall_passing = (passing_overall / total_students) * 100

In [17]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]
})

# Format Total Budget for readability
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
school_grouped = student_data.groupby('school_name')

total_students_per_school = school_grouped['student_name'].count()

budget_per_school = school_data.set_index('school_name')['budget']


per_student_budget = budget_per_school / total_students_per_school
avg_math_per_school = school_grouped['math_score'].mean()
avg_reading_per_school = school_grouped['reading_score'].mean()
passing_math_per_school = school_grouped.apply(lambda x: (x['math_score'] >= 70).mean()) * 100
passing_reading_per_school = school_grouped.apply(lambda x: (x['reading_score'] >= 70).mean()) * 100
passing_overall_per_school = school_grouped.apply(lambda x: ((x['math_score'] >= 70) & (x['reading_score'] >= 70)).mean()) * 100

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/2858709765.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_math_per_school = school_grouped.apply(lambda x: (x['math_score'] >= 70).mean()) * 100
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/2858709765.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_reading_per_school = school_grouped.apply(lambda x: (x['reading_score'] >= 70).mean()) * 100
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/2858709765.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_overall_per_school = school_grouped.apply(lambda x: ((x['math_score'] >= 70) & (x['reading_score'] >= 70)).mean()) * 100

In [24]:
school_grouped = student_data.groupby('school_name')

In [26]:
total_students_per_school = school_grouped['student_name'].count()

In [28]:
budget_per_school = school_data.set_index('school_name')['budget']

In [30]:
per_student_budget = budget_per_school / total_students_per_school

In [32]:
avg_math_per_school = school_grouped['math_score'].mean()

In [34]:
avg_reading_per_school = school_grouped['reading_score'].mean()

In [36]:
passing_math_per_school = school_grouped.apply(lambda x: (x['math_score'] >= 70).mean()) * 100

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3434828040.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_math_per_school = school_grouped.apply(lambda x: (x['math_score'] >= 70).mean()) * 100

In [38]:
passing_reading_per_school = school_grouped.apply(lambda x: (x['reading_score'] >= 70).mean()) * 100

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/2296383072.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_reading_per_school = school_grouped.apply(lambda x: (x['reading_score'] >= 70).mean()) * 100

In [40]:
passing_overall_per_school = school_grouped.apply(lambda x: ((x['math_score'] >= 70) & (x['reading_score'] >= 70)).mean()) * 100

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3349825022.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  passing_overall_per_school = school_grouped.apply(lambda x: ((x['math_score'] >= 70) & (x['reading_score'] >= 70)).mean()) * 100

In [42]:
school_summary = pd.DataFrame({
    "Total Students": total_students_per_school,
    "Total School Budget": budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math_per_school,
    "Average Reading Score": avg_reading_per_school,
    "% Passing Math": passing_math_per_school,
    "% Passing Reading": passing_reading_per_school,
    "% Overall Passing": passing_overall_per_school
})

# Format Total School Budget for readability
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

school_summary.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [44]:
# Define spending bins and labels
spending_bins = [0, 585, 615, 645, 675]
spending_labels = ["<$585", "$585-615", "$615-645", "$645-675"]

# Create a new column for spending ranges in the school_summary DataFrame
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"].str.replace('[\$,]', '', regex=True).astype(float), bins=spending_bins, labels=spending_labels)

<>:6: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/146309838.py:6: SyntaxWarning: invalid escape sequence '\$'
  school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"].str.replace('[\$,]', '', regex=True).astype(float), bins=spending_bins, labels=spending_labels)

In [46]:
# Group by spending ranges and calculate average scores and passing percentages
spending_math_scores = school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_reading_scores = school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
spending_passing_math = school_summary.groupby("Spending Ranges (Per Student)")["% Passing Math"].mean()
spending_passing_reading = school_summary.groupby("Spending Ranges (Per Student)")["% Passing Reading"].mean()
spending_overall_passing = school_summary.groupby("Spending Ranges (Per Student)")["% Overall Passing"].mean()

# Create the spending_summary DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": spending_overall_passing
})

# Display the spending summary
spending_summary

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3444061185.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3444061185.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3444061185.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_summary.groupby("Spending Ranges (Per Student)")["% Passing Math"].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3444061185.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_summary.groupby("Spending Ranges (Per Student)")["% Passing Reading"].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/3444061185.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_overall_passing = school_summary.groupby("Spending Ranges (Per Student)")["% Overall Passing"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-615,83.599686,83.885211,94.230858,95.900287,90.216324
$615-645,79.079225,81.891436,75.668212,86.106569,66.112060
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [48]:
# Bins for school size
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add a 'School Size' column to the DataFrame
school_summary['School Size'] = pd.cut(
    school_summary['Total Students'],
    bins=size_bins,
    labels=size_labels
)

In [50]:
# Calculate the metrics
size_math_scores = school_summary.groupby('School Size')['Average Math Score'].mean()
size_reading_scores = school_summary.groupby('School Size')['Average Reading Score'].mean()
size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
size_overall_passing = school_summary.groupby('School Size')['% Overall Passing'].mean()

# Create the size_summary DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the size_summary DataFrame
size_summary

/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/938552751.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_summary.groupby('School Size')['Average Math Score'].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/938552751.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_summary.groupby('School Size')['Average Reading Score'].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/938552751.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/938552751.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
/var/folders/qq/btq3mm09773cwl69pjm3kzf40000gn/T/ipykernel_28304/938552751.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_summary.groupby('School Size')['% Overall Passing'].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003